:root {
    --primary-color: #ccc;
    --primary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-button-font-family: 'Courier New', Courier, monospace;
    --font-size-header: 3.4rem;
    --font-weight-header: 800;
    --font-size-sub-header: 1.2rem;
    --letter-spacing: 0.2rem;
    --primary-button-font-weight: 600;
    --primary-button-font-size: 1rem;
    --border-radius: 1rem;
    --border-radius-button: 0.5rem;
    --border-primary-color: solid 0.1rem #2b2b2b;
    --padding--button: 0.8rem 1rem; 

}

* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

h1, p {
    font-family: var(--primary-font-family);
    letter-spacing: var(--letter-spacing);
    color: var(--primary-color);
    padding: 0.4rem;
    text-align: start;
}
p {
    font-size: small;
}

h2 {
    font-size: var(--font-size-sub-header);
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    letter-spacing: var(--letter-spacing);
    padding: 0.4rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
        "h h h h h h"
        "a a m m m m"
        "f f f f f f";
    max-width: 100vw;
}

.header {
    grid-area: h;
    background-color: #444;
}
.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;    
}
.header__logo a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-size: 1.4rem;
    margin-left: 1rem;
}
.header__navigation-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header__navigation-link {
    text-decoration: none;
    padding: 1rem;
    margin: 0.6rem;
    color: var(--primary-color);
    font: var(--primary-font-family);
    font-family: var(--primary-font-family);
    border-radius: var(--border-radius-button);
    border: solid 1px #494949;
    box-shadow: 2px 2px 4px #292929;
    transition: 0.3s ease;
    
}
.header__navigation-link:hover {
    background-color: #00212b;
    box-shadow: 3px 3px 6px #222424;
}

.content {
    grid-area: m;
    background-color: #1e1e1e;
}

.aside-content {
    grid-area: a;
    background-color: #333;
    text-align: center;
}


#aside-content__resource-coin, #aside-content__resource-metal, #aside-content__resource-wood {
    min-height: 10rem;
    min-width: 4rem;
    background-color: #353535;
    box-shadow: 1px 1px 2px #232424;
    display: grid;
    justify-content: center;
}

.aside-content__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}

.aside-content__sticky {
    position: sticky;
    top: 2rem;
}

.warrior-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.machine-content, .animal-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.warrior-content, .machine-content, .animal-content {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    gap: 1rem;
}

.warrior-content__header, .machine-content__header, .animal-content__header {
    font-size: var(--font-size-header);
    margin-top: 4rem;
}
.warrior-content__title, .machine-content__title, .animal-content__title {
    justify-items: center;
    gap: 32px;
    padding: 16px;
    font-size: var(--font-size-header);
    color: #aaa;
}

#machine-content-container, #animal-content-container {
    grid-template-columns: repeat(2, 1fr);
}

.warrior-content__warrior, .machine-content__machine, .animal-content__animal, .aside-content__resource {
    display: grid;
    justify-items: center;
    border-radius: var(--border-radius);
    background-color: #202020;
    border: solid 1px #262626;
    box-shadow: 2px 2px 4px #101010;
    padding: 1.6rem;
    transition: ease 0.2s;
}

.warrior-content__warrior:hover, .machine-content__machine:hover, .animal-content__animal:hover {
    display: inherit;
    border: solid 1px #333;
    box-shadow: 4px 4px 8px #101010,
    -2px -2px 2px #262626;
    background-color: #181a1a;
}

.warrior-content__warrior-img, .machine-content__machine-img, .animal-content__animal-img {
    filter:drop-shadow(2px 2px 0px #000);
    margin: 1rem;
    transition: ease-in-out 0.2s;
}
.warrior-content__warrior-img:hover, .machine-content__machine-img:hover, .animal-content__animal-img:hover {
    display: inherit;
    filter:drop-shadow(4px 4px 2px #000);    
}

.warrior-content__resource-shop-button, .machine-content__resource-shop-button, .animal-content__resource-shop-button {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: var(--border-radius-button);
    border: none;
    background-color: var(--primary-color);
    font-family: var(--primary-button-font-family);
    font-weight: var(--primary-button-font-weight);
    font-size: var(--primary-button-font-size);
    padding: var(--padding--button);

}

.warrior-content__resource-shop-button:hover, .machine-content__resource-shop-button:hover, .animal-content__resource-shop-button:hover {
    background: linear-gradient(to right,#C3F4B2, #E2E700);
    
}

#search-input{
    border-radius: var(--border-radius-button);
    background-color: #878787;
    margin: 1rem;
    padding: 0.5rem;
    transition: 0.4s ease-in-out;
}
#search-input:hover {
    background-color: var(--primary-color);
}
#search-input::placeholder {
    color: #000;
}

#purchased {
    color: #24aad3;
    font-weight: 600;
    font-size: 14px;
}

.get-resource-content__img{
    margin: 0.4rem;
}
#get-resource-content__img-mines {
    cursor: url('../images/pickaxe-cursor.png'), pointer;
}
#get-resource-content__img-woods {
    cursor: url('../images/axe-cursor.png'), pointer;
}


.footer {
    grid-area: f;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: #151617;
    color: var(--primary-color);
}